$pxInRem-1: 0.0625rem;
$pxInRem-2: 0.125rem;
$pxInRem-3: 0.1875rem;
$pxInRem-4: 0.25rem;
$pxInRem-5: 0.3125rem;
$pxInRem-6: 0.375rem;
$pxInRem-7: 0.4375rem;
$pxInRem-8: 0.5rem;
$pxInRem-9: 0.5625rem;
$pxInRem-10: 0.625rem;
$pxInRem-11: 0.6875rem;
$pxInRem-12: 0.75rem;
$pxInRem-13: 0.8125rem;
$pxInRem-14: 0.875rem;
$pxInRem-15: 0.9375rem;
$pxInRem-16: 1rem;
$pxInRem-17: 1.0625rem;
$pxInRem-18: 1.125rem;
$pxInRem-19: 1.1875rem;
$pxInRem-20: 1.25rem;
$pxInRem-21: 1.3125rem;
$pxInRem-22: 1.375rem;
$pxInRem-23: 1.4375rem;
$pxInRem-24: 1.5rem;
$pxInRem-25: 1.5625rem;
$pxInRem-26: 1.625rem;
$pxInRem-27: 1.6875rem;
$pxInRem-28: 1.75rem;
$pxInRem-29: 1.8125rem;
$pxInRem-30: 1.875rem;
$pxInRem-31: 1.9375rem;
$pxInRem-32: 2rem;
$pxInRem-33: 2.0625rem;
$pxInRem-34: 2.125rem;
$pxInRem-35: 2.1875rem;
$pxInRem-36: 2.25rem;
$pxInRem-37: 2.3125rem;
$pxInRem-38: 2.375rem;
$pxInRem-39: 2.4375rem;
$pxInRem-40: 2.5rem;
$pxInRem-41: 2.5625rem;
$pxInRem-42: 2.625rem;
$pxInRem-43: 2.6875rem;
$pxInRem-44: 2.75rem;
$pxInRem-45: 2.8125rem;
$pxInRem-46: 2.875rem;
$pxInRem-47: 2.9375rem;
$pxInRem-48: 3rem;
$pxInRem-49: 3.0625rem;
$pxInRem-50: 3.125rem;
$pxInRem-51: 3.1875rem;
$pxInRem-52: 3.25rem;
$pxInRem-53: 3.3125rem;
$pxInRem-54: 3.375rem;
$pxInRem-55: 3.4375rem;
$pxInRem-56: 3.5rem;
$pxInRem-57: 3.5625rem;
$pxInRem-58: 3.625rem;
$pxInRem-59: 3.6875rem;
$pxInRem-60: 3.75rem;
$pxInRem-61: 3.8125rem;
$pxInRem-62: 3.875rem;
$pxInRem-63: 3.9375rem;
$pxInRem-64: 4rem;
$pxInRem-65: 4.0625rem;
$pxInRem-66: 4.125rem;
$pxInRem-67: 4.1875rem;
$pxInRem-68: 4.25rem;
$pxInRem-69: 4.3125rem;
$pxInRem-70: 4.375rem;
$pxInRem-71: 4.4375rem;
$pxInRem-72: 4.5rem;
$pxInRem-73: 4.5625rem;
$pxInRem-74: 4.625rem;
$pxInRem-75: 4.6875rem;
$pxInRem-76: 4.75rem;
$pxInRem-77: 4.8125rem;
$pxInRem-78: 4.875rem;
$pxInRem-79: 4.9375rem;
$pxInRem-80: 5rem;
$pxInRem-81: 5.0625rem;
$pxInRem-82: 5.125rem;
$pxInRem-83: 5.1875rem;
$pxInRem-84: 5.25rem;
$pxInRem-85: 5.3125rem;
$pxInRem-86: 5.375rem;
$pxInRem-87: 5.4375rem;
$pxInRem-88: 5.5rem;
$pxInRem-89: 5.5625rem;
$pxInRem-90: 5.625rem;
$pxInRem-91: 5.6875rem;
$pxInRem-92: 5.75rem;
$pxInRem-93: 5.8125rem;
$pxInRem-94: 5.875rem;
$pxInRem-95: 5.9375rem;
$pxInRem-96: 6rem;
$pxInRem-97: 6.0625rem;
$pxInRem-98: 6.125rem;
$pxInRem-99: 6.1875rem;
$pxInRem-100: 6.25rem;
$pxInRem-101: 6.3125rem;
$pxInRem-102: 6.375rem;
$pxInRem-103: 6.4375rem;
$pxInRem-104: 6.5rem;
$pxInRem-105: 6.5625rem;
$pxInRem-106: 6.625rem;
$pxInRem-107: 6.6875rem;
$pxInRem-108: 6.75rem;
$pxInRem-109: 6.8125rem;
$pxInRem-110: 6.875rem;
$pxInRem-111: 6.9375rem;
$pxInRem-112: 7rem;
$pxInRem-113: 7.0625rem;
$pxInRem-114: 7.125rem;
$pxInRem-115: 7.1875rem;
$pxInRem-116: 7.25rem;
$pxInRem-117: 7.3125rem;
$pxInRem-118: 7.375rem;
$pxInRem-119: 7.4375rem;
$pxInRem-120: 7.5rem;
$pxInRem-121: 7.5625rem;
$pxInRem-122: 7.625rem;
$pxInRem-123: 7.6875rem;
$pxInRem-124: 7.75rem;
$pxInRem-125: 7.8125rem;
$pxInRem-126: 7.875rem;
$pxInRem-127: 7.9375rem;
$pxInRem-128: 8rem;
$pxInRem-129: 8.0625rem;
$pxInRem-130: 8.125rem;
$pxInRem-131: 8.1875rem;
$pxInRem-132: 8.25rem;
$pxInRem-133: 8.3125rem;
$pxInRem-134: 8.375rem;
$pxInRem-135: 8.4375rem;
$pxInRem-136: 8.5rem;
$pxInRem-137: 8.5625rem;
$pxInRem-138: 8.625rem;
$pxInRem-139: 8.6875rem;
$pxInRem-140: 8.75rem;
$pxInRem-141: 8.8125rem;
$pxInRem-142: 8.875rem;
$pxInRem-143: 8.9375rem;
$pxInRem-144: 9rem;
$pxInRem-145: 9.0625rem;
$pxInRem-146: 9.125rem;
$pxInRem-147: 9.1875rem;
$pxInRem-148: 9.25rem;
$pxInRem-149: 9.3125rem;
$pxInRem-150: 9.375rem;
$pxInRem-151: 9.4375rem;
$pxInRem-152: 9.5rem;
$pxInRem-153: 9.5625rem;
$pxInRem-154: 9.625rem;
$pxInRem-155: 9.6875rem;
$pxInRem-156: 9.75rem;
$pxInRem-157: 9.8125rem;
$pxInRem-158: 9.875rem;
$pxInRem-159: 9.9375rem;
$pxInRem-160: 10rem;
